body {
    background-color: #bbdbe5;
    font-family: 'Lato', sans-serif;
}

.logobox {
    width: 90%;
    margin: auto;
    background-color: #263645;
    padding: 10px;
    text-align: center;
}

#logo {
    margin: auto;
}

h1 {
    font-style:italic;
    color: #ffffff;
    font-size: 60pt;
}

p {
    color: #263645;
    font-size: 36pt;
}

.bluebox {
    width: 90%;
    margin: auto;
    background-color: #2994b0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.button {
    border-radius: 8px;
    background-color: #ffb718; /* Yellow */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 48px;
    box-shadow: 0px 0px 20px 0px gray;
    cursor: pointer;
}
.button:hover {
    box-shadow: 0px 0px 0px 0px gray;
}

#content {
    width: 90%;
    margin: auto;
}

#username-box {
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
    border: 2px solid black;
    background-color: white;
}


